<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.dao.TblOrgVipUserMapper" >
  <resultMap id="BaseResultMap" type="com.manage.model.TblOrgVipUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="orgId" property="orgid" jdbcType="BIGINT" />
    <result column="updateTime" property="updatetime" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="BIGINT" />
    <result column="postId" property="postid" jdbcType="BIGINT" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="VARCHAR" />
    <result column="roleType" property="roletype" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="currentStatus" property="currentstatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, orgId, updateTime, userId, postId, userName, createDate, createTime, roleType, 
    status, currentStatus
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.manage.model.TblOrgVipUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tbl_org_vip_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_org_vip_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_org_vip_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.manage.model.TblOrgVipUserExample" >
    delete from tbl_org_vip_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.manage.model.TblOrgVipUser" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_org_vip_user (orgId, updateTime, userId, 
      postId, userName, createDate, 
      createTime, roleType, status, 
      currentStatus)
    values (#{orgid,jdbcType=BIGINT}, #{updatetime,jdbcType=VARCHAR}, #{userid,jdbcType=BIGINT}, 
      #{postid,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{createdate,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR}, #{roletype,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{currentstatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.manage.model.TblOrgVipUser" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_org_vip_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        orgId,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="postid != null" >
        postId,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="roletype != null" >
        roleType,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="currentstatus != null" >
        currentStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgid != null" >
        #{orgid,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="postid != null" >
        #{postid,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="roletype != null" >
        #{roletype,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="currentstatus != null" >
        #{currentstatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.manage.model.TblOrgVipUserExample" resultType="java.lang.Integer" >
    select count(*) from tbl_org_vip_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_org_vip_user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orgid != null" >
        orgId = #{record.orgid,jdbcType=BIGINT},
      </if>
      <if test="record.updatetime != null" >
        updateTime = #{record.updatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.postid != null" >
        postId = #{record.postid,jdbcType=BIGINT},
      </if>
      <if test="record.username != null" >
        userName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        createDate = #{record.createdate,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.roletype != null" >
        roleType = #{record.roletype,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.currentstatus != null" >
        currentStatus = #{record.currentstatus,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_org_vip_user
    set id = #{record.id,jdbcType=BIGINT},
      orgId = #{record.orgid,jdbcType=BIGINT},
      updateTime = #{record.updatetime,jdbcType=VARCHAR},
      userId = #{record.userid,jdbcType=BIGINT},
      postId = #{record.postid,jdbcType=BIGINT},
      userName = #{record.username,jdbcType=VARCHAR},
      createDate = #{record.createdate,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=VARCHAR},
      roleType = #{record.roletype,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      currentStatus = #{record.currentstatus,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.manage.model.TblOrgVipUser" >
    update tbl_org_vip_user
    <set >
      <if test="orgid != null" >
        orgId = #{orgid,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="postid != null" >
        postId = #{postid,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="roletype != null" >
        roleType = #{roletype,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="currentstatus != null" >
        currentStatus = #{currentstatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.manage.model.TblOrgVipUser" >
    update tbl_org_vip_user
    set orgId = #{orgid,jdbcType=BIGINT},
      updateTime = #{updatetime,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=BIGINT},
      postId = #{postid,jdbcType=BIGINT},
      userName = #{username,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=VARCHAR},
      roleType = #{roletype,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      currentStatus = #{currentstatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateVipUser" parameterType="java.util.List">
    update tbl_org_vip_user set currentStatus='deleted' where userId in
    <foreach collection="ids" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
  </update>

  <update id="updateDelStatus" parameterType="java.util.List">
    update tbl_org_vip_user set updateTime=now() where userId in
    <foreach collection="ids" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
  </update>
</mapper>